.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  border-radius: 8px;
  width: 14rem;
  min-height: 220px;
  padding: 1rem .25rem;
}

.thumbnail {
  max-height: 80px;
  max-width: 80px;
}

.cardBtns {
  display: flex;
  gap: 8px;
}

p {
  padding: 12px;
}